src/main/app/collectionspliter.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
   
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
<!--     <encryption:config name="Encryption" doc:name="Encryption"/> -->
    <data-mapper:config name="JSON_To_JSON_1" transformationGraphPath="json_to_json_1.grf" doc:name="JSON_To_JSON_1"/>
    <data-mapper:config name="Map_To_JSON_1" transformationGraphPath="map_to_json_1.grf" doc:name="Map_To_JSON_1"/>
    <data-mapper:config name="Map_To_JSON" transformationGraphPath="map_to_json.grf" doc:name="Map_To_JSON"/>
    
    <flow name="collectionspliterFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/json" doc:name="HTTP"/>
        <logger message="In main flow Message Id =#[message.id] and Correlation Id= #[message.correlationId]" level="INFO" doc:name="Logger"/>
        <vm:outbound-endpoint exchange-pattern="request-response" path="vmq" doc:name="VM"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <message-properties-transformer doc:name="Message Properties">
            <add-message-property key="Content-Type" value="application/json"/>
        </message-properties-transformer>
        <logger message="Final Logger #[message.payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="collectionspliterFlow2">
        <logger message="Invoked the encryption flow for field #[payload.FInput]" level="INFO" doc:name="Logger"/>
<!--         <encryption:encrypt config-ref="Encryption"  using="JCE_ENCRYPTER" doc:name="Encryption" input-ref="#[payload.FInput]"> -->
<!--             <encryption:jce-encrypter key="PlainKey4JCEmode" algorithm="AES" encryptionMode="CBC"/> -->
<!--         </encryption:encrypt> -->

        <set-payload value="#[['FOutput' : 'Hello']]" doc:name="Set Payload"/>
        <logger message="Encryted value for #[payload.FOutput]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="collectionspliterFlow1">
        <vm:inbound-endpoint exchange-pattern="request-response" path="vmq" doc:name="VM"/>
        <expression-transformer expression="#[json:Employee]" doc:name="Expression" mimeType="application/json"/>

        <json:json-to-object-transformer returnClass="java.lang.Object" doc:name="JSON to Object"/>
        <set-variable variableName="name" value="Naveen" doc:name="Variable"/>
        <set-variable variableName="address" value="chennai" doc:name="Variable"/>
        <scripting:component doc:name="Groovy">
            <scripting:script engine="Groovy"><![CDATA[def aMap = ['root':[
  'name' : flowVars['name'], 
  'dob' : [
    'year':222, 
    'month':flowVars['address'], 
  ]
] ]

payload=aMap]]></scripting:script>
        </scripting:component>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
<!--         <choice doc:name="Choice"> -->
<!--             <when expression="#[payload.Encrypt == 'TRUE']"> -->
<!--                 <data-mapper:transform config-ref="Map_To_JSON" doc:name="Map To JSON with Encryption"/> -->
<!--             </when> -->
<!--             <otherwise> -->
<!--                 <data-mapper:transform config-ref="Map_To_JSON_1" doc:name="Map To JSON No Ecryption"/> -->
<!--             </otherwise> -->
<!--         </choice> -->
<!--         <byte-array-to-string-transformer doc:name="Byte Array to String"/> -->

        <logger message="Final Message Id =#[message.id] and Correlation Id= #[message.correlationId]" level="INFO" doc:name="Logger"/>
    </flow>

</mule>
